<p id="notice"><%= notice %></p>

<p>
  <strong>表題:</strong>
  <%= @game.title %>
</p>

<p>
  <strong>記述:</strong>
  <%= @game.detail %>
</p>

<p>
  <strong>画像:</strong>
  <% if @game.thumbnail.attached? %>
  <br>
  <%= image_tag @game.thumbnail, class: "image_tag" %>
  <% end %>
</p>

<p>
  <strong>評価:</strong>
  <%= @game.rating %>
</p>

<p><strong>ジャンル:</strong> </p>
<% @game.genres.each do |genre| %>
<p><%= link_to  genre.name, genre %></p>
<% end %>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %> |
<%= link_to 'Destroy', @game, method: :delete, data: { confirm: 'Are you sure?'} %>
<br>
<h2>Comments:</h2>
     <ul>
       <% @game.comment.each do |comment|%>
        <li><%= comment.comment %>
     <% end %>
     </ul>
<br>
<h2>New Comment</h2>
 <%= form_with(model: @comment, local: true) do |form| %>
   <div class= "field">
     <%= form.text_area :comment %>
     <%= form.hidden_field :game_id, :value => @game.id %>
   </div>
   <div class="actions">
     <%= form.submit %>
   </div>
 <% end %>